<div class="container">
  <div class="show-title">
    <h1><%= @product.title %></h1>
  </div>
  <div>
  </div>
  <div class="show-essential">
    <div class="show-photo">
      <% if @product.photo.present? %>
        <%= cl_image_tag @product.photo, height: 400, width: 500, crop: :fill %>
      <% end %>
      <p>
        <% @product.photo %>
      </p>
    </div>
    <div class="product-description">
      <p>
        <%= @product.description %>
      </p>
      <p>$
        <%= @product.asking_price %>
      </p>

    <!-- Modal -->
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
      Purchase
    </button>

    <!-- Modal -->
      <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="PSModalTitle">SHOPPING BAG</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p><b><%= @product.title %></b></p>
              <p>Qty 1</p>
              <p><b>$<%= @product.asking_price %></b></p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Continue Shopping</button>
              <button type="button" class="btn btn-primary"><%= link_to 'Proceed to Payment', order_path %></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<h3 ><%= link_to 'Edit', edit_product_path %></h3>

<script>
  document.onready(function() {
    console.log("Starbucks Wifi")
  })
</script>


