<!DOCTYPE html>
<html>
  <head>
    <title>PopShop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

  <body>
    <%= yield %>
    <!-- DELETE /users/sign_out -->
    <% if user_signed_in? %>
    <%= link_to "Log Out", destroy_user_session_path, method: :delete %>

    <%  else %>
      <%= link_to "Login", new_user_session_path %>
    <%  end %>
  </body>
</html>
